/*
 * om nom nom nom
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

&led_strip {
    chain-length = <29>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
&kp ESC           &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                          &kp N6  &kp N7        &kp N8    &kp N9     &kp N0      &kp BACKSPACE
&kp TAB           &kp Q   &kp W   &kp E     &kp R     &kp T                           &kp Y   &kp U         &kp I     &kp O      &kp P       &kp BACKSLASH
&kp LEFT_SHIFT    &kp A   &kp S   &kp D     &kp F     &kp G                           &kp H   &kp J         &kp K     &kp L      &kp SEMI    &kp RIGHT_SHIFT
&kp LEFT_CONTROL  &kp Z   &kp X   &kp C     &kp V     &kp B   &kp MINUS    &kp EQUAL  &kp B   &kp N         &kp M     &kp COMMA  &kp PERIOD  &kp SLASH
                                  &kp LALT  &kp LGUI  &mo 1   &kp ENTER    &kp SPACE  &mo 2   &kp KP_ENTER  &kp RGUI
            >;
        };

        lower_layer {

            bindings = <
&kp GRAVE  &kp F1  &kp F2  &kp F3                             &kp F4           &kp F5                             &kp F11          &kp F12          &trans           &kp LS(MINUS)   &kp LS(EQUAL)  &trans
&trans     &kp F6  &kp F7  &kp F8                             &kp F9           &kp F10                            &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_NUMLOCK  &trans         &trans
&trans     &trans  &trans  &rgb_ug RGB_COLOR_HSB(196,99,10)  &rgb_ug RGB_BRI  &rgb_ug RGB_ON                     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp CAPSLOCK    &trans         &trans
&trans     &trans  &trans  &rgb_ug RGB_HUD                    &rgb_ug RGB_BRD  &rgb_ug RGB_OFF  &trans    &trans  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans          &trans         &trans
                           &trans                             &trans           &trans           &trans    &trans  &trans           &kp KP_NUMBER_0  &trans
            >;
        };

        raise_layer {

            bindings = <
&trans     &trans  &trans  &trans   &trans   &trans                     &trans    &trans        &trans     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp DELETE
&kp GRAVE  &kp N1  &kp N2  &kp N3   &kp N4   &kp N5                     &trans    &kp UP_ARROW  &trans     &trans            &trans             &trans
&kp F1     &kp F2  &kp F3  &kp F4   &kp F5   &kp F6                     &kp LEFT  &kp DOWN      &kp RIGHT  &trans            &trans             &trans
&kp F7     &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans  &trans    &trans        &trans     &trans            &trans             &kp RCTRL
                           &trans   &trans   &trans   &trans    &trans  &trans    &trans        &trans
            >;
        };
    };
};
